<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue中的条件渲染</title>
		<script src="../../js/vue/vue.js"></script>
	</head>
	<body>
		<!--<div id="app">
			//<div	 v-if="show">{{message}}</div>//从DOM节点移除
			//<div	 v-show="show">{{message}}</div>//依然存在；性能相对高
			<div	 v-if="show">{{message}}</div>
			<div v-else>Bye World</div>
		</div>
		<script>
			var vm = new Vue({
				el: "#app",
				data: {
					show: false,
					message: "Hello World"
				}
			})
		</script>-->
		<!--<div id="app">
			<div	 v-if="show === 'a'">This is A</div>
			<div v-else-if="show === 'b'">This is B</div>
			<div v-else>This is others</div>
		</div>
		<script>
			var vm = new Vue({
				el: "#app",
				data: {
					show: "a"
				}
			})
		</script>-->
		<div id="app">
			<div	 v-if="show">
				用户：<input key="userName" />
			</div>
			<div v-else>
				密码：<input key="password"/>
			</div>
		</div>
		<script>
			var vm = new Vue({
				el: "#app",
				data: {
					show: false
				}
			})
		</script>
	</body>
</html>
